# This is a Bazel configuration file that sets up various build and test options.

###############################
# Debug & Analyze             #
###############################

# Debug & Analyze
build:debug --compilation_mode=dbg
build:debug --strip=never
build:debug --copt=-O0
build:debug --copt=-g
build:debug --copt=-fno-omit-frame-pointer
build:debug --copt=-Wno-macro-redefined
build:debug --linkopt=-fno-omit-frame-pointer
build:debug --define=DEBUG=1

# Optional: ASAN + UBSAN 
build:debug --copt=-fsanitize=address
build:debug --copt=-fsanitize=undefined
build:debug --linkopt=-fsanitize=address
build:debug --linkopt=-fsanitize=undefined

# Optional: Analyzer via scan-build
build:debug --run_under='scan-build --status-bugs'

# Profile:
build:debug --profile=profile.gz 
build:debug --generate_json_trace_profile
build:debug --noslim_profile

build:debug --sandbox_debug
build:debug --features=layering_check
build:debug --experimental_generate_json_trace_profile

# bazel build //... --config=debug

###############################
# Clang Report                #
###############################

build:debug_clang_report --compilation_mode=opt
build:debug_clang_report --strip=never
build:debug_clang_report --copt=-ftime-report
build:debug_clang_report --copt=-O2

# bazel build //... --config=debug_clang_report

###############################
# cache                        #
###############################

# Enable remote caching
# build --remote_cache=https://your-remote-cache-url

# Enable local caching
build --disk_cache=.cache/bazel_cache

###############################
# Report OpenMP              #
###############################

# build:report_omp --copt=-Rpass=loop-vectorize
# build:report_omp  --copt=-Rpass-missed=loop-vectorize
build:report_omp  --copt=-Rpass-analysis=loop-vectorize

###############################
# Heap Dump Bazel             #
###############################

build --heap_dump_on_oom

###############################
# Benchmark                   #
###############################

build:benchmark --compilation_mode=opt
build:benchmark --strip=always
build:benchmark --define=NDEBUG=1
build:benchmark --output_filter=

# bazel build //... --config=benchmark

###############################
# Output                      #
###############################

# A more useful default output mode for bazel query, which
# prints "ng_module rule //foo:bar" instead of just "//foo:bar".
query --output=label_kind

###############################
# Test                      #
###############################

test --test_verbose_timeout_warnings 
test --verbose_failures
test --keep_going 
test --test_output=all

###############################
# Coverage                  #
###############################

coverage --collect_code_coverage
coverage --copt=-fprofile-instr-generate
coverage --copt=-fcoverage-mapping
coverage --linkopt=-fprofile-instr-generate
coverage --linkopt=-fcoverage-mapping
coverage --coverage_output_generator=@bazel_tools//tools/coverage:coverage_report_generator
coverage --instrumentation_filter=//src/...  


###############################
# Linux Toolchain (LLVM)      #
###############################

build:linux_llvm --action_env=CC=/home/linuxbrew/.linuxbrew/opt/llvm/bin/clang
build:linux_llvm --action_env=CXX=/home/linuxbrew/.linuxbrew/opt/llvm/bin/clang++
build:linux_llvm --action_env=BAZEL_USE_CPP_ONLY_TOOLCHAIN=1
build:linux_llvm --cxxopt=-stdlib=libc++  # optional
build:linux_llvm --linkopt=-fuse-ld=lld

test:linux_llvm --action_env=CC=/home/linuxbrew/.linuxbrew/opt/llvm/bin/clang
test:linux_llvm --action_env=CXX=/home/linuxbrew/.linuxbrew/opt/llvm/bin/clang++
test:linux_llvm --action_env=BAZEL_USE_CPP_ONLY_TOOLCHAIN=1
test:linux_llvm --cxxopt=-stdlib=libc++  # optional
test:linux_llvm --linkopt=-fuse-ld=lld